.nav{
    display: flex;
     justify-content: space-between;
     align-items: center;
     /* border:1px solid red */
     /* padding: 10px 20px; */
     position: relative;
}
.nav img{
    position: absolute;
    width: 150px;
    height: 150px;
    /* border:1px solid black; */
    margin-left: 10%;
    margin-top: 50px;
}
.nav .nav-links{
    /* border:1px solid red; */
    margin-top: 20px;
    margin-right: 30px;
    width: 100%;
    display: flex;
    gap: 110px;
    justify-content: right;
    align-items: center;
}
.nav .nav-links .active {
    border-bottom: 2px solid #000000;
}
.nav .nav-links ul{
    display: flex;
    gap: 130px;
    list-style:none;
  
}
.nav .nav-links ul a{
    text-decoration: none;
    font-size: 17px;
    color:#000000;
    font-weight: 700;
}
.nav .nav-links button{
    padding: 5px;
    width: 90px;
    height: 30px;
    background-color: transparent;
    color: #000000;
    border: 1.5px solid #000000 ;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
    font-weight: 700;
    transition: all 0.3s ease;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav .nav-links button:hover{
    background-color: #000000;
    color: #ffffff;
}